

.wrapper{
  background-color:#FFE2B8;
  width:100%;
  margin-left:; auto;
  margin-right:auto;
}

header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}

#hero_image{
  background-color: #0abab5;
  border: 1px black solid;
  padding: 30px;
  height: auto;
}

#hero_text{
  font-color:white;
  font-weight:normal;
  font-style:italic;
  font-size: 42px;
  text-align: center;
}

nav {
  text-align:center;
  background-color: #333;
  border: 1px black solid;

}

nav a{
    display:block;
    color: white;
    width: 14.6666%;
    float:left;
    text-decoration: none;
}

nav a:hover {
    background-color: #E8C66A;
}

#products {
  background-color: #E89C6C;
  border: 1px black solid;
  padding: 20px;
}

#left {
  background-color: #E582A2;
  border: 1px black solid;
  padding 20px;
}

#middle {
  background-color: #E55B88;
  border: 1px black solid;
  padding 20px;
}

#right {
  background-color: #E59BA2;
  border: 1px black solid;
  padding 20px;
}

.pimage{
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 30%;
  min-width: 300px;
  margin-bottom: 10px;
  height: 250px;
  margin-left: 20px;
  margin-right:10px;
}

footer{
  clear: both;
  background-color: #FF957E;
  border: 1px black solid;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1em;
  text-align: center;
}

#mobile {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}


@media only screen and (min-width: 1800px) {
  body {
    font-size: 24px;
  }
  #wrapper {
    width: 1600px;
  }
}

@media only screen and (max-width: 1130px) {
  footer p {
    float: none;
  }
  footer {
    text-align: center;
  }
}

@media only screen and (max-width: 900px) {
  body {
    font-size: 18px;
  }

  main {
    width: 55%;
  }

}

@media only screen and (max-width: 809px) {
  body {
    font-size: 16px;
  }

  main {
    width: auto;
    float: none;
  }
  
}
@media only screen and (max-width: 660px) {
  #mobile {
    display: block;
  }
  
  nav a {
    float: none;
    width: auto;
    padding: .25em 0;
    display: block;
  }

  nav:hover a {
    display: block;
  }
  
  header {
    padding: 0;
    padding-bottom: 1em;
  }

  #wrapper {
    width: auto;
    padding: 1em;
  }
}




