
body{
}
#hero{
  background: url("../images/wearex-hero.png") no-repeat center;
  background-size:cover;
    text-align:center;
  color: #000000;
  font-family: Helvetica;
}



p {
  font-size: 22px;
}

     
